<p></p>
<br/>
<div class="p-formgroup-inline">
    <div class="p-field">
    <span class="p-float-label">
            <input type="text" id="testNameId" pInputText required [(ngModel)]="test.name"/>
            <label for="testNameId">{{'CREATE_TEST_POPUP.TEST_NAME_LABEL' | translate}}</label>
    </span>
    </div>
</div>
<button pButton type="button" label="{{'CREATE_TEST_POPUP.ACCEPT_LABEL' | translate}}" (click)="createNewTest()"></button>
<button pButton type="button" label="{{'CREATE_TEST_POPUP.CLOSE_LABEL' |translate}}" class="p-button-danger" (click)="closePopup()"></button>