    <h1>{{test.name}}</h1>
    <button pButton label="{{'TESTS_DASHBOARD.EXECUTE_LABEL' | translate}}" 
        class="p-button-success"
        icon="pi pi-caret-right"
        (click)="executeTest()"></button>
    <button pButton label="{{'TESTS_DASHBOARD.SAVE_LABEL' | translate}}"
        class="p-button-success"
        icon="pi pi-save"
        (click)="saveTest()"></button>
    <p-progressBar mode="indeterminate" *ngIf="showProgressBar"></p-progressBar>
    <messages-list [testContent]="testContent"></messages-list>