<p-card header="{{'IMPORT_PROJECT.LAST_DETAILS_HEADER' | translate}}">
    <span class="p-float-label">
        <input id="projectName-input" type="text" pInputText [(ngModel)]="newProjectName"/>
        <label for="projectName-input">{{'IMPORT_PROJECT.PROJECT_NAME_LABEL' | translate}}</label>
    </span>
    <language-selector [languages]="languages"></language-selector>
    <bot-type-card *ngFor="let botType of botTypes" [botType]="botType" (click)="selectBotType(botType)" class="botType">
    </bot-type-card>
    <div *ngIf="selectedBotType && selectedBotType.isCognigy()" class="p-grid p-nogutter">
        <span class="p-float-label">
            <input id="config-url" type="text" pInputText [(ngModel)]="cognigyConfiguration.configUrl"/>
            <label for="config-url">{{'PROJECT_POPUP.COGNIGY_BOT.CONFIG_URL' | translate}}</label>
    </span>
    </div>
    <div *ngIf="selectedBotType && selectedBotType.isDialogFlow()" class="p-grid p-nogutter">
        <span class="p-float-label">
            <input id="project-id" type="text" pInputText [(ngModel)]="dialogFlowConfiguration.projectId"/>
            <label for="project-id">{{'PROJECT_POPUP.DIALOGFLOW_BOT.PROJECT_ID' | translate}}</label>
        </span>
    </div>

    <div class="p-grid p-nogutter p-justify-between">
        <p-button label="{{'IMPORT_PROJECT.PREVIOUS_BUTTON' | translate}}"
                  icon="pi pi-arrow-left"
                  (click)="goToPreviousStep()"></p-button>
        <p-button label="{{'IMPORT_PROJECT.IMPORT_BUTTON' | translate}}"
                  icon="pi pi-check"
                  (click)="importProject()"></p-button>
    </div>
</p-card>