<ng-container *ngIf="testContent">
<div *ngFor="let userMessage of testContent.userMessages">
    <img src="/assets/img/user_logo.jpg" style="width: 30px; height: 30px; margin-left: 950px;"/>
    <user-message [message]="userMessage" (deleteMessageEvent)="deleteUserMessage($event)"></user-message>
</div>
</ng-container>
<div>
    <p *ngIf="!clickedAddUserMessage" (click)="showAddUserMessage()" class="plus-icon">{{'TESTS_DASHBOARD.ADD_USER_MESSAGE_LABEL' | translate}}</p>
    <div *ngIf="clickedAddUserMessage">
        <span class="p-input-icon-right plus-icon">
            <i class="pi pi-plus" (click)="addUserMessage()"></i>
            <input type="text" pInputText [(ngModel)]="userMessage" placeholder="{{'TESTS_DASHBOARD.ADD_USER_MESSAGE_PLACEHOLDER' | translate}}"/>            
        </span>
    </div>
</div>